################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/FNtoLoginPassword/v15/Server/sqlite3
/.vs/FNtoLoginPassword/v15/sqlite3/db.lock
/.vs/FNtoLoginPassword/v15/sqlite3/storage.ide-shm
/.vs/FNtoLoginPassword/v15/sqlite3/storage.ide-wal
